<!DOCTYPE html>
<html lang="en">
<head>
    <title>SDM - Dashboard</title>
    <meta charset="utf-8">
    <meta content="Rafshanzani Suhada" name="author">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/images/icons8-docker-480.png" type="image/x-icon" rel="icon">
    <link href="/assets/css/style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div id="main">
        <div id="nav">
            [<a href="/">Dashboard</a>] -
            [<a href="/about/" style="background-color: #406280;">About</a>] -
            [<a href="/logout">Log out</a>]
        </div>
        <div id="content-left">
            Simple Docker Manager (SDM) is a web-based application for managing Containers on Docker. The purpose of creating this Simple Docker Manager (SDM) is to facilitate users in managing Docker containers. Unfortunately, this application is not yet complete and cannot be used due to the development stage.
        </div>
    </div>
    <div id="footer">
        <p style="color:white;">© SDM 2023 - Made by <a href="https://github.com/0xshdax" style="color:white;">Rafshanzani Suhada</a></p>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/js/dashboard.js"></script>
</body>
</html>
