<!DOCTYPE html>
<html lang="en">

<head>
    <title>Simple Docker Manager</title>
    <meta charset="utf-8">
    <meta content="Rafshanzani Suhada" name="author">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/images/icons8-docker-480.png" type="image/x-icon" rel="icon">
    <link href="/assets/css/style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div id="nav"></div>
    <img id="img-circle" src="/assets/images/icons8-docker-480.png">
    <div id="title_app">
        <h3>Simple Docker Manager</h3>
    </div>
    <div id="login">
        <form action="/login" method="post">
            <input name="username" placeholder="Username" type="text">
            <input name="password" placeholder="Password" type="password">
            <input type="submit" value="Login">
        </form>
    </div>
    <div id="footer">
        <p style="color:white;">© SDM 2023 - Made by Rafshanzani Suhada</p>
    </div>
</body>

</html>